*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

/Tex/Masterarbeit.pdf
/Tex/Masterarbeit.tps
/Tex/References/references.bib.bak
/Tex/tmp$.@@@
/Results/~$ResultsExtraktion.xlsx
/Pictures/~$$UML-DSP.~VSD
/Tex/*.bak
/Tex/Optimization/*.bak

/Antrag auf Verlängerung.docx
/Results/~$ResultsExtraktion2.xlsx

/Results/~$Results2.xlsx
/Results/Extraction/Neon_FFT (Libav)/.goutputstream-NLD8YW
/Einleitung und Zusammenfassung.txt
